In [1]:
#prototype code to clean pandas dataframes from CSVs and load county aggregate tables to postgres
import os
import pandas as pd
import psycopg2

In [3]:

#application data

#load CSV from path
path = "data/holding/"
initial_df = pd.read_csv(path+'county_apps_2000.csv')

#remove duplicate fips columns
for n in range(1,9):
    drop_col = "fips."+str(n)
    initial_df.drop(drop_col, inplace=True, axis = 1)

In [4]:
initial_df.head()

,year,state,county,loan_average_app,income_average_app,count_app,value_app,fips,fips.1,hawaiian_loan_average_app,...,fips.7,no_co_app_loan_average_app,no_co_app_income_average_app,no_co_app_count_app,no_co_app_value_app,fips.8,asian_loan_average_app,asian_income_average_app,asian_count_app,asian_value_app
0,2000,19,007,46.87,42.40,326,15278,19007,48295,41.00,...,26041,65.00,47.00,2.0,130.0,01127,56.80,101.20,5.0,284.0
1,2000,18,143,55.13,40.61,1844,101664,18143,26041,72.00,...,01127,72.18,56.53,17.0,1227.0,20043,293.00,130.00,1.0,293.0
2,2000,47,009,70.44,48.62,6342,446743,47009,01127,33.80,...,20043,43.00,47.00,3.0,129.0,56017,65.00,71.00,1.0,65.0
3,2000,48,329,63.51,61.94,3286,208703,48329,48389,37.49,...,56017,28.00,27.50,2.0,56.0,37183,155.46,83.31,827.0,128563.0
4,2000,13,013,81.20,54.66,2832,229948,13013,20043,37.00,...,37183,132.19,85.80,355.0,46927.0,37147,97.50,56.57,44.0,4290.0

In [9]:
for col in initial_df.columns.ravel():
    print(col)

year
state
county
loan_average_app
income_average_app
count_app
value_app
fips
hawaiian_loan_average_app
hawaiian_income_average_app
hawaiian_count_app
hawaiian_value_app
not_applicable_loan_average_app
not_applicable_income_average_app
not_applicable_count_app
not_applicable_value_app
native_loan_average_app
native_income_average_app
native_count_app
native_value_app
white_loan_average_app
white_income_average_app
white_count_app
white_value_app
not_provided_loan_average_app
not_provided_income_average_app
not_provided_count_app
not_provided_value_app
black_loan_average_app
black_income_average_app
black_count_app
black_value_app
no_co_app_loan_average_app
no_co_app_income_average_app
no_co_app_count_app
no_co_app_value_app
asian_loan_average_app
asian_income_average_app
asian_count_app
asian_value_app

In [8]:
initial_df.head()

,year,state,county,loan_average_app,income_average_app,count_app,value_app,fips,hawaiian_loan_average_app,hawaiian_income_average_app,...,black_count_app,black_value_app,no_co_app_loan_average_app,no_co_app_income_average_app,no_co_app_count_app,no_co_app_value_app,asian_loan_average_app,asian_income_average_app,asian_count_app,asian_value_app
0,2000,19,007,46.87,42.40,326,15278,19007,41.00,19.60,...,1.0,46.0,65.00,47.00,2.0,130.0,56.80,101.20,5.0,284.0
1,2000,18,143,55.13,40.61,1844,101664,18143,72.00,42.00,...,116.0,5089.0,72.18,56.53,17.0,1227.0,293.00,130.00,1.0,293.0
2,2000,47,009,70.44,48.62,6342,446743,47009,33.80,28.80,...,1.0,40.0,43.00,47.00,3.0,129.0,65.00,71.00,1.0,65.0
3,2000,48,329,63.51,61.94,3286,208703,48329,37.49,33.48,...,2.0,104.0,28.00,27.50,2.0,56.0,155.46,83.31,827.0,128563.0
4,2000,13,013,81.20,54.66,2832,229948,13013,37.00,56.00,...,1.0,23.0,132.19,85.80,355.0,46927.0,97.50,56.57,44.0,4290.0